@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding:2em">
    <p class="lead">Selecciona una categoría:</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Producto",new { Category = "Frutas" })">
            <div class="panel panel-success">
                <div class="panel-heading">FRUTAS</div>
                <div class="panel-body">
                    <img src="~/Content/Fotos/frutas.jpg" class="img-responsive" style="width:100%" alt="Image">
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Producto",new { Category = "Verduras" })">
                <div class="panel panel-success">
                    <div class="panel-heading">HORTALIZAS Y VERDURAS</div>
                    <div class="panel-body"><img src="~/Content/Fotos/verduras.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Producto",new { Category = "Cereales" })">
                <div class="panel panel-success">
                    <div class="panel-heading">CEREALES</div>
                    <div class="panel-body"><img src="~/Content/Fotos/cereales.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Producto",new { Category = "FrutosSecos" })">
                <div class="panel panel-success">
                    <div class="panel-heading">FRUTOS SECOS</div>
                    <div class="panel-body"><img src="~/Content/Fotos/cacahuetes.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Producto",new { Category = "Legumbres" })">
                <div class="panel panel-success">
                    <div class="panel-heading">LEGUMBRES</div>
                    <div class="panel-body"><img src="~/Content/Fotos/legumbres.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Index","Producto",new { Category = "Condimentos" })">
                <div class="panel panel-success">
                    <div class="panel-heading">CONDIMENTOS</div>
                    <div class="panel-body"><img src="~/Content/Fotos/especias.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<br>