@model TiendaVirtualAlejandro.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Producto")
            </th>
            <th>
                @Html.LabelFor(i => Model.ProductosVendidos.First().Nombre)
            </th>
            <th>
                @Html.LabelFor(i => Model.ProductosVendidos.First().Precio)
            </th>
            <th>
                @Html.Label("Cantidad comprada")
            </th>
            <th>
                @Html.Label("Subtotal")
            </th>
            <th>
            </th>
        </tr>
        @if (Model != null && Model.ProductosVendidos.Count > 0)
        {
            foreach (var item in Model.ProductosVendidos)
            {
                <tr>
                    <td>
                        <img src="~/Content/Fotos/@item.Foto" style="max-width: 64px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Precio) €/Kg
                    </td>
                    <td>
                        @Html.DisplayFor(c => item.Cantidad) Kg <!--value-->
                    </td>
                    <td>
                        @(item.Precio * item.Cantidad) € <!--value-->
                    </td>
                    <td>
                    </td>
                </tr>
            }
        }
    </table>
    @Html.Label("Total Pedido")
</p>
<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
