@model TiendaVirtualAlejandro.Models.CarritoCompra

@{
    ViewBag.Title = "EditCart";
}

<h2>Mi Carrito</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Lista de Productos</h4>
        <hr />
        <dl class="dl-horizontal">
        </dl>
    </div>
    <p>
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Producto")
                </th>
                <th>
                    @Html.LabelFor(i => Model.Keys.First().Nombre)
                </th>
                <th>
                    @Html.LabelFor(i => Model.Keys.First().Precio)
                </th>
                <th>
                    @Html.LabelFor(i => Model.Keys.First().Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
            </tr>
            @if (Model != null && Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <img src="~/Content/Fotos/@Model.Keys.ToList()[i].Foto" style="width:50px;height:50px;" />
                        </td>
                        <td>
                            @Html.DisplayFor(a => Model.Keys.ToList()[i].Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(a => Model.Keys.ToList()[i].Precio)
                        </td>
                        <td>
                            @Html.EditorFor(a => Model[Model.Keys.ToList()[i]], new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                    </tr>
                }
            }
        </table>
    </p>
    <div class="form-group">
        <div class="col-md-offset-10 col-md-10">
            <input type="submit" value="Guardar cambios" class="btn btn-default" />
        </div>
    </div>
}