@model IEnumerable<TiendaVirtualAlejandro.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Mis Pedidos</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Identificador del pedido")
        </th>
        <th>
            @Html.Label("Cantidad de productos comprados")
        </th>
        <th>
            @Html.Label("Precio total del Pedido")
        </th>
        <th>
            @Html.Label("Detalles")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("" + item.Id, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.Label("" + item.Stock.Count)
            </td>
            <td>
                @{
                    decimal total = 0.00m;
                    foreach (var prod in item.Stock)
                    {
                        total += prod.Producto.Precio * (decimal)prod.Cantidad;
                    }
                    @Html.Label(""+total)
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
