@model IEnumerable<TiendaVirtualAlejandro.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Mis Pedidos</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Identificador del pedido")
        </th>
        <th>
            @Html.Label("Kilogramos de producto comprado")
        </th>
        <th>
            @Html.Label("Precio total del Pedido")
        </th>
        <th>
            @Html.Label("Detalles")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.PedidoId })">
                    @("P-" + item.PedidoId.ToString("0000"))
                </a>
            </td>
            <td>
                @{
                    int totalKg = 0;
                    foreach (var prod in item.ProductosVendidos)
                    {
                        totalKg += prod.Cantidad;
                    }
                    @("" + totalKg + " kg.");
                }
            </td>
            <td>
                @{
                    decimal totalEuros = 0.00m;
                    foreach (var prod in item.ProductosVendidos)
                    {
                        totalEuros += prod.Precio * (decimal)prod.Cantidad;
                    }
                    @("" + totalEuros + " €");
                }
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.PedidoId })
            </td>
        </tr>
    }

</table>
