@model TiendaVirtualAlejandro.Models.CarritoCompra

@{
    ViewBag.Title = "MiCarrito";
}

<h2>Mi Carrito</h2>

<div>
    <h4>Lista de Productos</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Producto")
            </th>
            <th>
                @Html.LabelFor(i => Model.First().Nombre)
            </th>
            <th>
                @Html.Label("Cantidad en almacén")
            </th>
            <th>
                @Html.LabelFor(i => Model.First().Precio)
            </th>
            <th>
                @Html.Label("Cantidad a comprar")
            </th>
            <th>
                @Html.Label("Subtotal")
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Content/Fotos/@item.Foto" style="max-width: 64px;" />
                    </td>
                    <td>
                        @Html.ActionLink(item.Nombre, "Details", "Producto", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(c => item.CantidadAlmacen) Kg
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Precio) €/Kg
                    </td>
                    <td>
                        @Html.DisplayFor(c => item.CantidadCarrito) Kg
                    </td>
                    <td>
                        @(item.Precio * item.CantidadCarrito) €
                    </td>
                    <td>
                        @if (item.CantidadCarrito < item.CantidadAlmacen)
                        {
                            <img src="~/Content/Fotos/plus.png" style="max-width:25px;cursor:pointer" alt="Image"
                                 onclick="location.href='@Url.Action("AddOneMore", "Producto", new { id = item.Id })'">
                        }
                        <img src="~/Content/Fotos/minus.png" style="max-width:25px;cursor:pointer" alt="Image"
                             onclick="location.href='@Url.Action("RemoveOne", "Producto", new { id = item.Id })'">
                    </td>
                    <td>
                        @Html.ActionLink("Quitar", "RemoveFromCart", "Producto", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        }
    </table>
    @Html.Label("Total Carrito")
    @Html.DisplayFor(c => Model.Total) €
</p>
@if (this.User.Identity.IsAuthenticated && Model.Any())
{
    @Html.ActionLink("Tramitar pedido", "Purchase", "Pedido", null, htmlAttributes: new { @class = "control-label col-2" })
}
