@model TiendaVirtualAlejandro.Models.CarritoCompra

@{
    ViewBag.Title = "MiCarrito";
}

<h2>Mi Carrito</h2>

<div>
    <h4>Lista de Productos</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Producto")
            </th>
            <th>
                @Html.LabelFor(i => Model.Keys.First().Nombre)
            </th>
            <th>
                @Html.Label("Cantidad en almacén")
            </th>
            <th>
                @Html.LabelFor(i => Model.Keys.First().Precio)
            </th>
            <th>
                @Html.Label("Cantidad a comprar")
            </th>
            <th>
                @Html.Label("Subtotal")
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Content/Fotos/@item.Key.Foto" style="max-width: 64px;" />
                    </td>
                    <td>
                        @Html.ActionLink(item.Key.Nombre, "Details", "Producto", new { id = item.Key.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(c => item.Key.Cantidad) Kg
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Key.Precio) €/Kg
                    </td>
                    <td>
                        @Html.DisplayFor(c => item.Value) Kg
                    </td>
                    <td>
                        @(item.Key.Precio * item.Value) €
                    </td>
                    <td>
                        @if (item.Key.Cantidad > 0)
                        {
                            <img src="~/Content/Fotos/plus.png" style="max-width:25px;cursor:pointer" alt="Image"
                                 onclick="location.href='@Url.Action("AddOneMore", "Producto", new { id = item.Key.Id })'">
                        }
                        <img src="~/Content/Fotos/minus.png" style="max-width:25px;cursor:pointer" alt="Image"
                             onclick="location.href='@Url.Action("RemoveOne", "Producto", new { id = item.Key.Id })'">
                    </td>
                    <td>
                        @Html.ActionLink("Quitar todos", "RemoveFromCart", "Producto", new { id = item.Key.Id, cantidad = item.Value }, null)
                    </td>
                </tr>
            }
        }
    </table>
    @Html.Label("Total Carrito")
    @Html.DisplayFor(c => Model.Total) €
</p>
