@model TiendaVirtualAlejandro.Models.CarritoCompra

@{
    ViewBag.Title = "MiCarrito";
}

<h2>Mi Carrito</h2>

<div>
    <h4>Lista de Productos</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Producto")
            </th>
            <th>
                @Html.LabelFor(i => Model.Keys.First().Nombre)
            </th>
            <th>
                @Html.LabelFor(i => Model.Keys.First().Precio)
            </th>
            <th>
                @Html.LabelFor(i => Model.Keys.First().Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            </th>
        </tr>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Content/Fotos/@item.Key.Foto" style="max-width: 64px;" />
                    </td>
                    <td>
                        @Html.ActionLink(item.Key.Nombre, "Details", "Producto", new { id = item.Key.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Key.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(c => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Modificar cantidad", "EditCart", "Pedido", new { id = item.Key.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Quitar del carrito", "RemoveFromCart", "Producto", new { id = item.Key.Id }, null)
                    </td>
                </tr>
            }
        }

    </table>
</p>
