@model TiendaVirtualAlejandro.Models.ProductoAlmacen

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Cantidad en almacén")
        </dt>

        <dd>
            @if (Model.CantidadAlmacen > 0)
            {
                @Html.DisplayFor(model => model.CantidadAlmacen)
            }
            else
            {
                @Html.Label("Sin stock");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
        </dt>

        <dd>
            <img src="~/Content/Fotos/@Model.Foto" style="max-width: 500px;max-height:500px" />
        </dd>

        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @if (Model.CantidadAlmacen > 0)
    {
        @Html.ActionLink("Añadir al carro", "AddToCart", new { id = Model.Id }) @:|
    }

    @if (this.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Volver a la lista", "Index")
</p>
