@model IEnumerable<TiendaVirtualAlejandro.Models.ProductoAlmacen>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

@if (this.User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Crear nuevo producto", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Categoría")
        </th>
        <th>
            @Html.DisplayName("Cantidad en almacén")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Nombre, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio) €/Kg
            </td>
            <td>
                <img src="~/Content/Fotos/@item.Foto" style="max-width: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @if (item.CantidadAlmacen > 0)
                {
                    @Html.DisplayFor(modelItem => item.CantidadAlmacen); @:Kg
                }
                else
                {
                    @Html.Label("Sin stock");
                }
            </td>
            <td>
                @if (item.CantidadAlmacen > 0)
                {
                    @Html.ActionLink("Añadir al carro", "AddToCart", new { id = item.Id }, new { htmlAttributes = new { @class = "form-control" } }) @:|
                }
                @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                @if (this.User.IsInRole("Admin"))
                {
                    @:|
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }); @:|
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id });
                }
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Mostrar todos los productos", "Index")
