@model IEnumerable<TiendaVirtualAlejandro.Models.ProductoAlmacen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAlmacen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.Nombre, "Details", new { id = item.Id })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        <img src="~/Content/Fotos/@item.Foto" style="max-width: 100px;" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoria)
    </td>
    <td>
        @if (item.CantidadAlmacen > 0)
        {
            @Html.DisplayFor(modelItem => item.CantidadAlmacen);
        }
        else
        {
            @Html.Label("Sin stock");
        }
    </td>
    <td>
        @if (item.CantidadAlmacen > 0)
        {
            @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.Id }, new { htmlAttributes = new { @class = "form-control" } })
        } |
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
